/* CSS file for CIS.html
Author: Jarvis Dong 
Initial Created on Feb 25th 00:30 AM by Jarvis Dong

This file is meant to embellish tables on CIS.html

Last Updated: Jarvis Dong Feb 25th 9:16 AM */

tr:hover {background-color:#d1caca;}/*indicate the current line your cursor is hovering */

table.greenTable {
    font-family: Arial, serif;
    border: 4px solid #29A842;
    background-color: #D4EED1;
    width: 100%;
    text-align: center;
  }
  table.greenTable td, table.greenTable th {
    /* border: 1px solid #24943A; */
    padding: 6px 2px;
  }
  table.greenTable tbody td {
    font-size: 13px;
  }
  table.greenTable thead {
    background: #24943A;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    border-bottom: 0px solid #444444;
  }
  table.greenTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid #24943A;
  }
  table.greenTable thead th:first-child {
    border-left: none;
  }
  
  table.greenTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #F0F0F0;
    background: #24943A;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    border-top: 1px solid #24943A;
  }
  table.greenTable tfoot td {
    font-size: 13px;
  }
  table.greenTable tfoot .links {
    text-align: right;
  }
  table.greenTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #24943A;
    padding: 2px 8px;
    border-radius: 5px;
  }
