/* CSS file for CIS.html
Author: Jarvis Dong & Will Lin 
Initial Created on Feb 25th 00:30 AM by Jarvis Dong

This file is meant to embellish tables on CIS.html

Last Updated: Jarvis Dong Feb 25th 9:16 AM */



/**/
table.greenTable {
    font-family: Arial, serif;
    border: 6px solid #124734;
    border-collapse:separate;
    border-radius:8px;
    border-spacing: 0;
    background-color: white;
    width: 86%;
    text-align: center;
    box-align: center;
    margin: 0px auto;
  }
  table.greenTable td, table.greenTable th {
    /* border: 1px solid #24943A; */
    padding: 6px 10px 10px;
  }
  table.greenTable tbody td {
    font-size: 13px;
    
  }
  table.greenTable thead {
    background: #124734;
    border: 0px solid #124734;
  }
  table.greenTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 6px solid #124734;
  }

  table.greenTable thead th:first-child {
    border-left: none;
  }
  
  table.greenTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #F0F0F0;
    background: #124734;
    border-top: 1px solid #124734;
  }
  table.greenTable tfoot td {
    font-size: 13px;
  }
  table.greenTable tfoot .links {
    text-align: right;
  }
  table.greenTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #24943A;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .u:hover{
    /* text-decoration: underline; */
    background-color:#fee123;
  }
